{
  "name": "<%= @app_name %>",
  "private": true,
  "scripts": {
    "lint:css": "stylelint \"./app/**/*.scss\"",
    "prettier:fix": "prettier-eslint --write \"./app/**/*.scss\" \"./app/**/*.{js,jsx}\"",
    "prettier:check": "prettier-eslint --list-different \"./app/**/*.scss\" \"./app/**/*.{js,jsx}\""
  }
}
