<div class="home-page">
  <p>
    <a href="http://rubyonrails.org">

    <%= image_tag asset_pack_path('media/images/rails-logo.svg'), class: 'logo' %>

    </a>
  </p>

  <h1>Yay! You&rsquo;re on Rails!</h1>

  <%= image_tag asset_pack_path('media/images/welcome.jpeg'), class: 'welcome' %>

  <p class="version">
    <strong>Rails version:</strong> 5.2.3<br />
    <strong>Ruby version:</strong> 2.6.1 (x86_64-darwin17)
  </p>

  <x-greeter props-json='{"name":"Lodi"}'></x-greeter>
</div>
