<div class="home-page">
  <p>
    <a href="http://rubyonrails.org">

    <%= image_tag asset_pack_path('media/images/packs/rails-logo.svg'), class: 'logo' %>

    </a>
  </p>

  <h1>Yay! You&rsquo;re on Rails!</h1>

  <%= image_tag asset_pack_path('media/images/packs/welcome.jpeg'), class: 'welcome' %>

  <p class="version">
    <strong>Rails version:</strong> <%= Rails.version %> <br />
    <strong>Ruby version:</strong> <%= RUBY_DESCRIPTION %>
  </p>

  <x-greeter props-json='{"name":"Lodi"}'></x-greeter>
</div>
