@import '../mixins/mixins';

.home-page {
  margin: 0 auto 2rem;
  padding: 2rem 0 0;
  text-align: center;

  > p > a > .logo {
    width: 128px;
    height: 48px;
    border: 0;
  }

  > h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: black;
    @include font-size(5);
  }

  > .container {
    max-width: 960px;
    margin: 0 auto 40px;
    overflow: hidden;
  }

  > .version {
    @include font-size(1);
  }

  > .welcome {
    width: 600px;
    max-width: 100%;
    height: auto;
  }
}
