<!DOCTYPE html>
<html>
  <head>
    <title><%= @app_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all',
      @options["skip_turbolinks"] ? '' : 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
      @options["skip_turbolinks"] ? '' : 'data-turbolinks-track': 'reload' %>
    <% if @options[:webpack] %>
      <%= stylesheet_pack_tag    'application', media: 'all',
        @options["skip_turbolinks"] ? '' : 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack 'application',
      @options["skip_turbolinks"] ? '' : 'data-turbolinks-track': 'reload' %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
